language: node_js

node_js:
  - "8"
  - "7"
  - "6"
  
env:
  - CXX="g++-4.8"

script:
  - npm run setup
  - npm run test

addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - g++-4.8
      - gcc-4.8

notifications:
  email:
    on_success: never
    on_failure: always